.section-online-program{
    padding: 60px 0;
    width: 100%;
}
.section-online-program .block1{
    display: grid;
    grid-template-columns: 2fr 1fr;
    z-index: 1;
}
.section-online-program .block1 .col1{
    padding-top: 100px;
}
.section-online-program .block1 .col1 .title1, .section-online-program .block1 .col1 .title2{
    font-size: 80px;
}
.section-online-program .block1 .col1 .title1{
}
.section-online-program .block1 .col1 .title2{
    font-weight: bold;
    background: rgb(181,164,137);
    background: linear-gradient(90deg, rgba(181,164,137,1) 0%, rgba(225,219,208,1) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.section-online-program .block1 .col1 .description{
    font-size: 18px;
    margin-top: 40px;
}
.section-online-program .block1 .col2{}
.section-online-program .block1 .col2 img{
    width: 130%;
    transform: translate(-200px, -20px);
}
.section-online-program .block2{
    display: flex;
    flex-wrap: wrap;
    gap: 50px;
    transform: translateY(-200px);
    z-index: 2;
}
.section-online-program .block2 .row{
    position: relative;
    display: flex;
    flex-direction: column;
    padding: 40px;
    border-radius: 3rem;
    width: calc(50% - 40px);
    box-shadow: 0 0 20px #cdcdcd;
    font-size: 50px;
}
.section-online-program .block2 .row.row1{
    background-color: #B5A489;
    color: white;
}
.section-online-program .block2 .row.row1 .description1, .section-online-program .block2 .row.row1 .description2{
    font-size: 20px;
}
.section-online-program .block2 .row.row1 .line{
    align-self: flex-end;
    height: 3px;
    width: 60%;
    margin-top: 40px;
    background-color: white;
    transform: translateX(-50px);
}
.section-online-program .block2 .row.row1 .description1{
    display: flex;
    justify-content: center;
    margin-top: 80px;
    transform: translateX(-40px);
}
.section-online-program .block2 .row.row1 .description2{
    display: flex;
    justify-content: flex-end;
    transform: translateX(-10px);
}
.section-online-program .block2 .row.row2{
    font-size: 34px;
    transform: translateY(140px);
    background-color: white;
}
.section-online-program .block2 .row.row2 .description1{
    color: #EE1D24;
    font-size: 24px;
    align-self: flex-end;
    font-weight: 500;
    margin-top: 20px;
    transform: translateX(-20px);
}
.section-online-program .block2 .row.row2 .line{
    align-self: flex-end;
    height: 3px;
    width: 60%;
    background-color: #232323;
    margin-top: 100px;
    transform: translateX(-20px);
}
.section-online-program .block2 .row.row2 .description2{
    margin-top: 40px;
    font-size: 21px;
}
.section-online-program .block2 .row.row2 .dontKnow{
    position: absolute;
    bottom: 40px;
    left: 36px;
    background-color: #B5A489;
    width: 60%;
    height: 40px;
    border-radius: 5rem;
}
.section-online-program .block2 .row.row2 .scissors{
    position: absolute;
    right: 40px;
    bottom: -700px;
    pointer-events: none;
}
.section-online-program .block2 .row.row3{
    color: black;
    background-color: #E6E6E6;
}
.section-online-program .block2 .row.row3 .description1{
    color: #EE1D24;
    font-size: 26px;
    font-weight: bold;
    margin-top: 20px;
    transform: translateX(24px);
}
.section-online-program .block2 .row.row3 .line{
    align-self: flex-end;
    height: 3px;
    width: 60%;
    background-color: #232323;
    margin-top: 100px;
    transform: translateX(-20px);
}
.section-online-program .block2 .row.row3 .description2{
    margin-top: 50px;
    font-size: 21px;
}
.section-online-program .block2 .row.row3 .img{
}
.section-online-program .link-btn{
    position: relative;
    font-size: 20px;
    background-color: #B5A489;
    color: black;
    width: max-content;
    white-space: nowrap;
    padding: 24px 30px;
    border-radius: 3rem;
    box-shadow: 0 3px 3px lightgrey;
    cursor: pointer;
    user-select: none;
    z-index: 4;
    transition: .1s;
}
.section-online-program .link-btn:hover{
    background-color: #af9e83;
    box-shadow: 1px 5px 6px lightgrey;
}






/*                                                       . . : : MEDIA : : . .*/

@media screen and (max-width: 1441px) {
    .section-online-program .block1 .col1{
        padding-top: 40px;
    }
    .section-online-program .block1 .col1 .title1, .section-online-program .block1 .col1 .title2{
        font-size: 70px;
    }
    .section-online-program .block1 .col1 .description{
        font-size: 16px;
    }
    .section-online-program .block1 .col2 img{
        width: 120%;
        transform: translate(-200px, -20px);
    }
    .section-online-program .block2{
        transform: translateY(-180px);
    }
    .section-online-program .block2 .row{
        height: 440px;
        font-size: 50px;
    }
    .section-online-program .block2 .row.row1 .description1, .section-online-program .block2 .row.row1 .description2{
        font-size: 18px;
    }
    .section-online-program .block2 .row.row1 .line{
        width: 60%;
        margin-top: 10px;
        transform: translateX(-20px);
    }
    .section-online-program .block2 .row.row1 .description1{
        transform: translateX(-20px);
    }
    .section-online-program .block2 .row.row1 .description2{
        transform: translateX(0);
    }
    .section-online-program .block2 .row.row2 .title{
        font-size: 34px;
    }
    .section-online-program .block2 .row.row2 .description2{
        margin-top: 50px;
        font-size: 18px;
    }
    .section-online-program .block2 .row.row3 .description1{
        font-size: 24px;
    }
    .section-online-program .block2 .row.row3 .description2{
        margin-top: 50px;
        font-size: 18px;
    }
}
@media screen and (max-width: 1025px) {
    .section-online-program .block1 .col1{
        padding-top: 40px;
    }
    .section-online-program .block1 .col1 .title1, .section-online-program .block1 .col1 .title2{
        font-size: 60px;
    }
    .section-online-program .block1 .col1 .description{
        font-size: 14px;
    }
    .section-online-program .block1 .col2 img{
        width: 100%;
    }
    .section-online-program .block2{
        transform: translateY(-120px);
    }
    .section-online-program .block2 .row{
        height: 360px;
        font-size: 40px;
    }
    .section-online-program .block2 .row.row1 .description1, .section-online-program .block2 .row.row1 .description2{
        font-size: 18px;
    }
    .section-online-program .block2 .row.row2{
        transform: translateY(90px);
    }
    .section-online-program .block2 .row.row2 .scissors{
        right: -10px;
    }
    .section-online-program .block2 .row.row2 .title{
        font-size: 24px;
    }
    .section-online-program .block2 .row.row2 .line{
        width: 60%;
        background-color: #232323;
        margin-top: 40px;
        transform: translateX(-10px);
    }
    .section-online-program .block2 .row.row2 .description2{
        margin-top: 50px;
        font-size: 18px;
    }
    .section-online-program .block2 .row.row3 .description1{
        font-size: 24px;
    }
    .section-online-program .block2 .row.row3 .description2{
        margin-top: 20px;
        font-size: 18px;
    }

}
@media screen and (max-width: 769px) {
    .section-online-program .block1 .col1{
        padding-top: 20px;
    }
    .section-online-program .block1 .col1 .title1, .section-online-program .block1 .col1 .title2{
        font-size: 44px;
    }
    .section-online-program .block1 .col1 .description{
        font-size: 13px;
    }
    .section-online-program .block1 .col2 img{
        width: 100%;
        transform: translateX(-80px);
    }
    .section-online-program .block2{
        transform: translateY(-80px);
    }
    .section-online-program .block2 .row{
        height: 300px;
        font-size: 30px;
    }
    .section-online-program .block2 .row.row1 .description1, .section-online-program .block2 .row.row1 .description2{
        font-size: 15px;
    }
    .section-online-program .block2 .row.row1 .description1{
        justify-content: flex-start;
        transform: translateX(0);
    }
    .section-online-program .block2 .row.row1 .description2{
        justify-content: flex-start;
        transform: translateX(0);
    }
    .section-online-program .block2 .row.row2{
        transform: translateY(50px);
    }
    .section-online-program .block2 .row.row2 .title{
        font-size: 18px;
    }
    .section-online-program .block2 .row.row2 .line{
        display: none;
    }
    .section-online-program .block2 .row.row2 .description2{
        margin-top: 30px;
        font-size: 18px;
    }
    .section-online-program .block2 .row.row2 .dontKnow{
        height: 24px;
        bottom: 30px;
        left: 36px;
    }
    .section-online-program .block2 .row.row2 .scissors{
        right: -40px;
        bottom: -730px;
    }
    .section-online-program .block2 .row.row3 .title{
        font-size: 30px;
    }
    .section-online-program .block2 .row.row3 .description1{
        font-size: 20px;
        font-weight: 500;
        transform: translateX(10px);

    }
    .section-online-program .block2 .row.row3 .line{
        margin-top: 30px;
    }
    .section-online-program .block2 .row.row3 .description2{
        height: 2px;
        margin-top: 40px;
        font-size: 14px;
    }

}
@media screen and (max-width: 541px) {
    .section-online-program .block1{
        display: grid;
        grid-template-columns: 1fr;
    }
    .section-online-program .block1 .col1{
        padding-top: 0;
    }
    .section-online-program .block1 .col1 .title1, .section-online-program .block1 .col1 .title2{
        font-size: 44px;
        text-align: center;
    }
    .section-online-program .block1 .col1 .description{
        width: 96%;
        margin: 20px auto;
        font-size: 15px;
    }
    .section-online-program .block1 .col2 img{
        display: none;
    }
    .section-online-program .block2{
        display: flex;
        flex-direction: column;
        transform: translateY(0);
        margin-top: 20px;
    }
    .section-online-program .block2 .row.row1 .line, .section-online-program .block2 .row.row2 .line, .section-online-program .block2 .row.row3 .line{
        display: none;
    }
    .section-online-program .block2 .row{
        width: 96%;
        margin: 0 auto;
    }
    .section-online-program .block2 .row.row2{
        transform: translateY(0);
    }
    .section-online-program .block2 .row.row1 .description1 {
        margin-top: 80px;
    }
    .section-online-program .block2 .row.row2 .scissors{
        display: none;
    }
    .section-online-program .link-btn{
        margin: 40px auto;
        font-size: 16px;
        padding: 18px 12px;
    }

    .section-online-program .block3{
        margin-top: 50px;
    }


}
@media screen and (max-width: 426px) {
    .section-online-program .block1{
        display: grid;
        grid-template-columns: 1fr;
    }
    .section-online-program .block1 .col1{
        padding-top: 0;
    }
    .section-online-program .block1 .col1 .title1, .section-online-program .block1 .col1 .title2{
        font-size: 44px;
        text-align: center;
    }
    .section-online-program .block1 .col1 .description{
        width: 96%;
        margin: 20px auto;
        font-size: 15px;
    }
    .section-online-program .block1 .col2 img{
        display: none;
    }
    .section-online-program .block2{
        display: flex;
        flex-direction: column;
        transform: translateY(0);
        margin-top: 20px;
    }
    .section-online-program .block2 .row.row1 .line, .section-online-program .block2 .row.row2 .line, .section-online-program .block2 .row.row3 .line{
        display: none;
    }
    .section-online-program .block2 .row{
        width: 96%;
        margin: 0 auto;
    }
    .section-online-program .block2 .row.row2{
        transform: translateY(0);
    }
    .section-online-program .block2 .row.row1 .description1 {
        margin-top: 80px;
    }
    .section-online-program .block2 .row.row2 .scissors{
        display: none;
    }
    .section-online-program .link-btn{
        margin: 40px auto;
        font-size: 16px;
        padding: 18px 12px;
    }

}
@media screen and (max-width: 321px) {
    .section-online-program .link-btn{
        font-size: 14px;
        padding: 18px 12px;
    }
}

/*                                                       . . : : Dynamic Classes : : . .*/
