.section-online-program{
    padding: 60px 0;
    width: 100%;
}
.section-online-program .block1{
    display: grid;
    grid-template-columns: 2fr 1fr;
    z-index: 1;
}
.section-online-program .block1 .col1{
    padding-top: 100px;
}
.section-online-program .block1 .col1 .title1, .section-online-program .block1 .col1 .title2{
    font-size: 80px;
}
.section-online-program .block1 .col1 .title1{
}
.section-online-program .block1 .col1 .title2{
    font-weight: bold;
    background: rgb(181,164,137);
    background: linear-gradient(90deg, rgba(181,164,137,1) 0%, rgba(225,219,208,1) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.section-online-program .block1 .col1 .description{
    font-size: 18px;
    margin-top: 40px;
}
.section-online-program .block1 .col2{}
.section-online-program .block1 .col2 img{
    width: 130%;
    transform: translate(-200px, -20px);
}
.section-online-program .block2{
    display: flex;
    flex-wrap: wrap;
    gap: 50px;
    transform: translateY(-200px);
    z-index: 2;
}
.section-online-program .block2 .row{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 20px;
    padding: 40px;
    border-radius: 3rem;
    width: calc(50% - 40px);
    box-shadow: 0 0 20px #cdcdcd;
    aspect-ratio: 1/1;
}
.section-online-program .block2 .row.row1{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #B5A489;
    color: white;
}
.section-online-program .block2 .row.row2{
    padding-bottom: 100px;
}
.section-online-program .block2 .row.row1 .wrap1, .section-online-program .block2 .row.row1 .wrap2{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.section-online-program .block2 .row.row1 .wrap1{
}
.section-online-program .block2 .row.row1 .wrap2{
    align-items: flex-end;
}
.section-online-program .block2 .row.row2{
    background-color: white;
    transform: translateY(100px);
    color: #343434;
}
.section-online-program .block2 .row.row3{
    background-color: #E6E6E6;
    color: #343434;
}
.section-online-program .block2 .row .title1, .section-online-program .block2 .row .title2{
    font-size: 34px;
}
.section-online-program .block2 .row .description-red{
    color: #ff2f33;
    font-weight: 600;
}
.section-online-program .block2 .row .line{
    height: 2px;
    width: 70%;
}
.section-online-program .block2 .row1 .line{
    background-color: white;
}
.section-online-program .block2 .row1 .line{
    align-self: flex-end;
}
.section-online-program .block2 .row2 .line, .section-online-program .block2 .row3 .line{
    background-color: #343434;
}


.section-online-program .block2 .row.row2 .scissors{
    position: absolute;
    right: 40px;
    bottom: -700px;
    pointer-events: none;
}
.section-online-program .link-btn{
    position: relative;
    font-size: 20px;
    background-color: #B5A489;
    color: black;
    width: max-content;
    white-space: nowrap;
    padding: 24px 30px;
    border-radius: 3rem;
    box-shadow: 0 3px 3px lightgrey;
    cursor: pointer;
    user-select: none;
    z-index: 4;
    transition: .1s;
}
.section-online-program .link-btn:hover{
    background-color: #af9e83;
    box-shadow: 1px 5px 6px lightgrey;
}






/*                                                       . . : : MEDIA : : . .*/

@media screen and (max-width: 1441px) {
    .section-online-program .block1 .col1{
        padding-top: 40px;
    }
    .section-online-program .block1 .col1 .title1, .section-online-program .block1 .col1 .title2{
        font-size: 70px;
    }
    .section-online-program .block1 .col1 .description{
        font-size: 16px;
    }
    .section-online-program .block1 .col2 img{
        width: 120%;
        transform: translate(-200px, -20px);
    }
    .section-online-program .block2{
        transform: translateY(-180px);
    }
}
@media screen and (max-width: 1025px) {
    .section-online-program .block1 .col1{
        padding-top: 40px;
    }
    .section-online-program .block1 .col1 .title1, .section-online-program .block1 .col1 .title2{
        font-size: 60px;
    }
    .section-online-program .block1 .col1 .description{
        font-size: 14px;
    }
    .section-online-program .block1 .col2 img{
        width: 100%;
    }
    .section-online-program .block2{
        transform: translateY(-120px);
    }
    .section-online-program .block2 .row .title1, .section-online-program .block2 .row .title2{
        font-size: 24px;
    }

}
@media screen and (max-width: 769px) {
    .section-online-program .block1 .col1{
        padding-top: 20px;
    }
    .section-online-program .block1 .col1 .title1, .section-online-program .block1 .col1 .title2{
        font-size: 44px;
    }
    .section-online-program .block1 .col1 .description{
        font-size: 13px;
    }
    .section-online-program .block1 .col2 img{
        width: 100%;
        transform: translateX(-80px);
    }
    .section-online-program .block2 .row .title1, .section-online-program .block2 .row .title2{
        font-size: 20px;
    }
    .section-online-program .block2 .row{
        gap: 10px;
        padding: 30px;
    }
    .section-online-program .block2 .row.row1 .wrap1, .section-online-program .block2 .row.row1 .wrap2{
        gap: 10px;
    }

}
@media screen and (max-width: 541px) {
    .section-online-program .block1{
        display: grid;
        grid-template-columns: 1fr;
    }
    .section-online-program .block1 .col1{
        padding-top: 0;
    }
    .section-online-program .block1 .col1 .title1, .section-online-program .block1 .col1 .title2{
        font-size: 44px;
        text-align: center;
    }
    .section-online-program .block1 .col1 .description{
        width: 96%;
        margin: 20px auto;
        font-size: 15px;
    }
    .section-online-program .block1 .col2 img{
        display: none;
    }
    .section-online-program .link-btn{
        margin: 40px auto;
        font-size: 16px;
        padding: 18px 12px;
    }

    .section-online-program .block3{
        margin-top: 50px;
    }
    .section-online-program .block2 .row .title1, .section-online-program .block2 .row .title2{
        font-size: 36px;
    }
    .section-online-program .block2 .row{
        gap: 10px;
        padding: 30px;
    }
    .section-online-program .block2 .row.row1 .wrap1, .section-online-program .block2 .row.row1 .wrap2{
        gap: 10px;
    }


}
@media screen and (max-width: 541px) {
    .section-online-program .block2 .row .title1, .section-online-program .block2 .row .title2{
        font-size: 30px;
    }
}
@media screen and (max-width: 426px), (max-width: 541px) {
    .section-online-program .block1{
        display: grid;
        grid-template-columns: 1fr;
    }
    .section-online-program .block1 .col1{
        padding-top: 0;
    }
    .section-online-program .block1 .col1 .title1, .section-online-program .block1 .col1 .title2{
        font-size: 44px;
        text-align: center;
    }
    .section-online-program .block1 .col1 .description{
        width: 96%;
        margin: 20px auto;
        font-size: 15px;
    }
    .section-online-program .block1 .col2 img{
        display: none;
    }
    .section-online-program .link-btn{
        margin: 40px auto;
        font-size: 16px;
        padding: 18px 12px;
    }
    .section-online-program .block2{
        flex-direction: column;
        transform: translateY(0);
    }
    .section-online-program .block2 .row .title1, .section-online-program .block2 .row .title2{
        font-size: 24px;
        font-weight: bold;
    }
    .section-online-program .block2 .row{
        gap: 10px;
        padding: 30px;
        width: 100%;
    }
    .section-online-program .block2 .row.row2{
        transform: translateY(0);
        padding-bottom: 30px;
    }
    .section-online-program .block2 .row.row1 .wrap1, .section-online-program .block2 .row.row1 .wrap2{
        gap: 10px;
    }
    .section-online-program .block2 .row.row2 .scissors{
        display: none;
    }

}
@media screen and (max-width: 376px) {
    .section-online-program .block2 .row .title1, .section-online-program .block2 .row .title2{
        font-size: 22px;
        font-weight: bold;
    }
}
@media screen and (max-width: 321px) {
    .section-online-program .link-btn{
        font-size: 14px;
        padding: 18px 12px;
    }
    .section-online-program .block2 .row .title1, .section-online-program .block2 .row .title2{
        font-size: 18px;
        font-weight: bold;
    }
}

/*                                                       . . : : Dynamic Classes : : . .*/
